<a href="https://cognitiveclass.ai"><img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width = 400> </a>

<h1 align=center><font size = 5>Introduction to Deep Learning &#x26; Neural Networks with Keras </font></h1>
<h2 align=center>Final Assignment<font size = 5></font></h2>

## Preprocessing And Data Wrangling

In [7]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [7]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

## Split data into predictors and target

In [9]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

In [10]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Normalize the data by substracting the mean and dividing by the standard deviation for reactive B and onwards.

In [12]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Save the number of predictors to *n_cols* since we will need this number when building our network.

In [13]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Assignment Reactives

In [3]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

#### Data Split

<a id='item33'></a>

### A.- Baseline Model

In [13]:
# define regression model
def regression_modelA():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

# build the model
modelA = regression_modelA()
modelA_mse = []

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

<a id="item4"></a>

In [19]:
for run in range(0, 50):
    # 1.- Split data Randomly
    pred_train, pred_test, target_train, target_test = train_test_split(predictors, target, test_size=0.30, shuffle=True)
    # 2.- Train Model
    historyA = modelA.fit(pred_train, target_train, validation_data=(pred_test, target_test), epochs=50, verbose=0)
    # 3.- Evaluate Model
    mse = modelA.evaluate(pred_test, target_test, verbose=0)
    # 4.- Log MSE for this run
    print("Mean Squared Error: {}".format(mse))
    # Save
    modelA_mse.append(mse)

# Save History & mse 
histA_df = pd.DataFrame(historyA.history) 
histA_json_file = 'historyA.json' 

mseA_df = pd.DataFrame(modelA_mse) 
mseA_json_file = 'mseA.json'

with open(histA_json_file, mode='w') as f:
    histA_df.to_json(f)

with open(mseA_json_file, mode='w') as f:
    mseA_df.to_json(f)

Mean Squared Error: 225.49709539814674
Mean Squared Error: 136.9842591023368
Mean Squared Error: 117.40692775689283
Mean Squared Error: 105.67938876846462
Mean Squared Error: 97.77100895755113
Mean Squared Error: 94.78102420448872
Mean Squared Error: 81.2638254998957
Mean Squared Error: 56.15161184662754
Mean Squared Error: 55.04465724117934
Mean Squared Error: 55.5423759534521
Mean Squared Error: 50.01630743576099
Mean Squared Error: 53.21373835196387
Mean Squared Error: 53.695656736306
Mean Squared Error: 48.90066954233114
Mean Squared Error: 48.438614237269924
Mean Squared Error: 54.550156479128745
Mean Squared Error: 45.153284511134075
Mean Squared Error: 50.303080364338406
Mean Squared Error: 47.86191546492592
Mean Squared Error: 48.27621736495626
Mean Squared Error: 45.79138952705853
Mean Squared Error: 51.28784350052621
Mean Squared Error: 50.4612536877876
Mean Squared Error: 43.94135318990664
Mean Squared Error: 50.155584267428004
Mean Squared Error: 52.1070398620803
Mean Squared Error: 53.865086638811725
Mean Squared Error: 56.87809753417969
Mean Squared Error: 52.09137056714894
Mean Squared Error: 41.841474477527214
Mean Squared Error: 48.39325584485693
Mean Squared Error: 47.143941120036594
Mean Squared Error: 54.18380212012232
Mean Squared Error: 48.71531282196539
Mean Squared Error: 40.41870044350238
Mean Squared Error: 54.0275975816844
Mean Squared Error: 47.98280265338984
Mean Squared Error: 46.88062256748236
Mean Squared Error: 54.51547889339114
Mean Squared Error: 48.23287109572525
Mean Squared Error: 46.81803313813935
Mean Squared Error: 52.239149914590286
Mean Squared Error: 45.9130982457627
Mean Squared Error: 53.13081799355911
Mean Squared Error: 45.25024338756179
Mean Squared Error: 45.537507609642056
Mean Squared Error: 43.03140868646813
Mean Squared Error: 44.407640846030226
Mean Squared Error: 54.72773848845349
Mean Squared Error: 45.530999859559884

### B.- Model With Normalized Data

In [20]:
# define regression model
def regression_modelB():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

# build the model
modelB = regression_modelB()
modelB_mse = []

In [21]:
for run in range(0, 50):
    # 1.- Split data Randomly
    pred_train, pred_test, target_train, target_test = train_test_split(predictors_norm, target, test_size=0.30, shuffle=True)
    # 2.- Train Model
    historyB = modelB.fit(pred_train, target_train, validation_data=(pred_test, target_test), epochs=50, verbose=0)
    # 3.- Evaluate Model
    mse = modelB.evaluate(pred_test, target_test, verbose=0)
    # 4.- Log MSE for this run
    print("Mean Squared Error: {}".format(mse))
    # Save
    modelB_mse.append(mse)
    
# Save History & mse 
histB_df = pd.DataFrame(historyB.history) 
histB_json_file = 'historyB.json' 

mseB_df = pd.DataFrame(modelB_mse) 
mseB_json_file = 'mseB.json'

with open(histB_json_file, mode='w') as f:
    histB_df.to_json(f)

with open(mseB_json_file, mode='w') as f:
    mseB_df.to_json(f)

Mean Squared Error: 449.063573349641
Mean Squared Error: 180.17296281833094
Mean Squared Error: 119.32984042862087
Mean Squared Error: 92.83998705422609
Mean Squared Error: 64.60153018000828
Mean Squared Error: 59.64051463303057
Mean Squared Error: 44.24439548134418
Mean Squared Error: 48.28525298775978
Mean Squared Error: 44.32518504121157
Mean Squared Error: 38.59185494728459
Mean Squared Error: 41.419917683771125
Mean Squared Error: 36.66788767842413
Mean Squared Error: 39.05540328041249
Mean Squared Error: 38.01394631098775
Mean Squared Error: 32.72288495900176
Mean Squared Error: 33.103544982120056
Mean Squared Error: 31.117295644815687
Mean Squared Error: 35.329734283743555
Mean Squared Error: 32.65873709002745
Mean Squared Error: 30.813010015148176
Mean Squared Error: 34.88356720513896
Mean Squared Error: 33.47923294857482
Mean Squared Error: 32.935919165997056
Mean Squared Error: 33.25049742911626
Mean Squared Error: 35.5110284626291
Mean Squared Error: 32.00692230520897
Mean Squared Error: 37.964073588547194
Mean Squared Error: 36.830851360432156
Mean Squared Error: 30.11533650765527
Mean Squared Error: 33.67937274426704
Mean Squared Error: 28.80574099840084
Mean Squared Error: 34.05181266266165
Mean Squared Error: 34.83597159154207
Mean Squared Error: 30.84749887213352
Mean Squared Error: 33.74185796694462
Mean Squared Error: 32.80996785580533
Mean Squared Error: 31.519477368944287
Mean Squared Error: 35.7127162908659
Mean Squared Error: 33.452943067334616
Mean Squared Error: 34.604660577372826
Mean Squared Error: 33.8611349334223
Mean Squared Error: 32.00795527337824
Mean Squared Error: 27.938428996064516
Mean Squared Error: 29.19982092897483
Mean Squared Error: 34.996904107745024
Mean Squared Error: 27.202507130150657
Mean Squared Error: 35.43387012419963
Mean Squared Error: 31.650326589936192
Mean Squared Error: 29.606274033827304
Mean Squared Error: 31.254729878941014

### C.- Model  B But 100 Epochs

In [15]:
# define regression model
def regression_modelC():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

# build the model
modelC = regression_modelC()
modelC_mse = []

In [17]:
for run in range(0, 50):
    # 1.- Split data Randomly
    pred_train, pred_test, target_train, target_test = train_test_split(predictors_norm, target, test_size=0.30, shuffle=True)
    # 2.- Train Model
    historyC = modelC.fit(pred_train, target_train, validation_data=(pred_test, target_test), epochs=100, verbose=0)
    # 3.- Evaluate Model
    mse = modelC.evaluate(pred_test, target_test, verbose=0)
    # 4.- Log MSE for this run
    print("Mean Squared Error: {}".format(mse))
    # Save
    modelC_mse.append(mse)
    
# Save History & mse 
histC_df = pd.DataFrame(historyC.history) 
histC_json_file = 'historyC.json' 

mseC_df = pd.DataFrame(modelC_mse) 
mseC_json_file = 'mseC.json'

with open(histC_json_file, mode='w') as f:
    histC_df.to_json(f)

with open(mseC_json_file, mode='w') as f:
    mseC_df.to_json(f)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Mean Squared Error: 257.1707228379728
Mean Squared Error: 87.73570337881934
Mean Squared Error: 50.06321982967044
Mean Squared Error: 39.94807419267673
Mean Squared Error: 41.97709317500537
Mean Squared Error: 41.15213521321615
Mean Squared Error: 35.12523248666313
Mean Squared Error: 43.639287038142626
Mean Squared Error: 33.89761751292207
Mean Squared Error: 32.7154931559146
Mean Squared Error: 36.99023070844632
Mean Squared Error: 29.84426130523188
Mean Squared Error: 33.4920930769837
Mean Squared Error: 36.90423475345747
Mean Squared Error: 32.19155194921401
Mean Squared Error: 35.508380266455
Mean Squared Error: 31.590598868706465
Mean Squared Error: 31.64764131465776
Mean Squared Error: 32.590537753305775
Mean Squared Error: 34.34396356132038
Mean Squared Error: 30.0589178017428
Mean Squared Error: 33.49908506523058
Mean Squared Error: 29.963832274995575
Mean Squared Error: 33.03004914811514
Mean Squared Error: 33.55251479534655
Mean Squared Error: 28.674810804595452
Mean Squared Error: 31.20716660385379
Mean Squared Error: 32.73544765830426
Mean Squared Error: 29.27787047450982
Mean Squared Error: 32.19734640646135
Mean Squared Error: 34.975478286496255
Mean Squared Error: 31.383857751741377
Mean Squared Error: 28.337039040130318
Mean Squared Error: 37.048920085129225
Mean Squared Error: 34.73774139626512
Mean Squared Error: 30.084284050950725
Mean Squared Error: 31.56620986098996
Mean Squared Error: 30.35182763997791
Mean Squared Error: 28.81673621514083
Mean Squared Error: 27.6158473561111
Mean Squared Error: 31.43260737298762
Mean Squared Error: 30.913187860285195
Mean Squared Error: 30.120976716569327
Mean Squared Error: 26.193341955783684
Mean Squared Error: 28.632926002675276
Mean Squared Error: 28.705344814312884
Mean Squared Error: 27.68668757441746
Mean Squared Error: 25.170018186846985
Mean Squared Error: 31.490802295771232
Mean Squared Error: 33.24418957410893

### D.- Model with 3 Hidden Layers Normalized data and 50 Epochs

In [21]:
def regression_modelD():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

# build the model
modelD = regression_modelD()
modelD_mse = []

In [19]:
for run in range(0, 50):
    # 1.- Split data Randomly
    pred_train, pred_test, target_train, target_test = train_test_split(predictors_norm, target, test_size=0.30, shuffle=True)
    # 2.- Train Model
    historyD = modelD.fit(pred_train, target_train, validation_data=(pred_test, target_test), epochs=50, verbose=0)
    # 3.- Evaluate Model
    mse = modelD.evaluate(pred_test, target_test, verbose=0)
    # 4.- Log MSE for this run
    print("Mean Squared Error: {}".format(mse))
    # Save
    modelD_mse.append(mse)
    
# Save History & mse 
histD_df = pd.DataFrame(historyD.history) 
histD_json_file = 'historyD.json' 

mseD_df = pd.DataFrame(modelD_mse) 
mseD_json_file = 'mseD.json'

with open(histD_json_file, mode='w') as f:
    histD_df.to_json(f)

with open(mseD_json_file, mode='w') as f:
    mseD_df.to_json(f)

Mean Squared Error: 142.96949773004525
Mean Squared Error: 119.68216762110639
Mean Squared Error: 89.72768895911553
Mean Squared Error: 59.109005344724196
Mean Squared Error: 47.79425219193246
Mean Squared Error: 40.10697108642183
Mean Squared Error: 41.21668863759457
Mean Squared Error: 33.489834732993906
Mean Squared Error: 37.46272432765529
Mean Squared Error: 38.68384802611514
Mean Squared Error: 37.04815683704364
Mean Squared Error: 35.84855391369668
Mean Squared Error: 33.177924393835966
Mean Squared Error: 30.90190015873091
Mean Squared Error: 31.106857972623462
Mean Squared Error: 30.30000369371334
Mean Squared Error: 25.744007450091413
Mean Squared Error: 26.21724431800225
Mean Squared Error: 23.06025347663361
Mean Squared Error: 28.72913908726961
Mean Squared Error: 25.995038017100114
Mean Squared Error: 27.756547329109463
Mean Squared Error: 27.04649473394005
Mean Squared Error: 26.796271549459416
Mean Squared Error: 25.956304599552094
Mean Squared Error: 22.645794704894033
Mean Squared Error: 22.92427079963067
Mean Squared Error: 20.3004747656171
Mean Squared Error: 21.390015994075046
Mean Squared Error: 27.58704253384982
Mean Squared Error: 26.25867769556138
Mean Squared Error: 25.669614995567542
Mean Squared Error: 20.27969703242231
Mean Squared Error: 20.132364402696926
Mean Squared Error: 21.444304384459954
Mean Squared Error: 23.00053102684638
Mean Squared Error: 20.78830389991933
Mean Squared Error: 18.77434608928594
Mean Squared Error: 19.832399238660496
Mean Squared Error: 22.001809552263673
Mean Squared Error: 19.819111438245063
Mean Squared Error: 18.959810155109295
Mean Squared Error: 20.271505775575115
Mean Squared Error: 23.684082679378175
Mean Squared Error: 24.38271097226436
Mean Squared Error: 21.96843800344128
Mean Squared Error: 21.400184267161347
Mean Squared Error: 16.878547995607445
Mean Squared Error: 18.418412511016946
Mean Squared Error: 19.472883551637718

## Because training took a long time I saved results as jsons and uploaded them to my ibm storage bucket, here i bring them back

In [17]:
# The code was removed by Watson Studio for sharing.

In [ ]:
#somehow A model has an extra row, since its all random numbers
# I just drop it here
mseA_df = mseA_df.sort_index(axis=0)
msA_df = mseA_df.drop(mseA_df.tail(1).index, inplace=True)
mseA_df.tail(10)

In [28]:
mseA_df.shape

(50, 1)

In [29]:
#get al mse dta in a single dataframe
mseCombined_df = pd.concat([mseA_df, mseB_df, mseC_df, mseD_df], axis=1)
mseCombined_df

          mseA        mseB        mseC        mseD
0   785.490002  449.063573  257.170723  142.969498
1   225.497095  180.172963   87.735703  119.682168
2   136.984259  119.329840   50.063220   89.727689
3   117.406928   92.839987   39.948074   59.109005
4   105.679389   64.601530   41.977093   47.794252
5    97.771009   59.640515   41.152135   40.106971
6    94.781024   44.244395   35.125232   41.216689
7    81.263825   48.285253   43.639287   33.489835
8    56.151612   44.325185   33.897618   37.462724
9    55.044657   38.591855   32.715493   38.683848
10   55.542376   41.419918   36.990231   37.048157
11   50.016307   36.667888   29.844261   35.848554
12   53.213738   39.055403   33.492093   33.177924
13   53.695657   38.013946   36.904235   30.901900
14   48.900670   32.722885   32.191552   31.106858
15   48.438614   33.103545   35.508380   30.300004
16   54.550156   31.117296   31.590599   25.744007
17   45.153285   35.329734   31.647641   26.217244
18   50.303080   32.658737   32.590538   23.060253
19   47.861915   30.813010   34.343964   28.729139
20   48.276217   34.883567   30.058918   25.995038
21   45.791390   33.479233   33.499085   27.756547
22   51.287844   32.935919   29.963832   27.046495
23   50.461254   33.250497   33.030049   26.796272
24   43.941353   35.511028   33.552515   25.956305
25   50.155584   32.006922   28.674811   22.645795
26   52.107040   37.964074   31.207167   22.924271
27   53.865087   36.830851   32.735448   20.300475
28   56.878098   30.115337   29.277870   21.390016
29   52.091371   33.679373   32.197346   27.587043
30   41.841474   28.805741   34.975478   26.258678
31   48.393256   34.051813   31.383858   25.669615
32   47.143941   34.835972   28.337039   20.279697
33   54.183802   30.847499   37.048920   20.132364
34   48.715313   33.741858   34.737741   21.444304
35   40.418700   32.809968   30.084284   23.000531
36   54.027598   31.519477   31.566210   20.788304
37   47.982803   35.712716   30.351828   18.774346
38   46.880623   33.452943   28.816736   19.832399
39   54.515479   34.604661   27.615847   22.001810
40   48.232871   33.861135   31.432607   19.819111
41   46.818033   32.007955   30.913188   18.959810
42   52.239150   27.938429   30.120977   20.271506
43   45.913098   29.199821   26.193342   23.684083
44   53.130818   34.996904   28.632926   24.382711
45   45.250243   27.202507   28.705345   21.968438
46   45.537508   35.433870   27.686688   21.400184
47   43.031409   31.650327   25.170018   16.878548
48   44.407641   29.606274   31.490802   18.418413
49   54.727738   31.254730   33.244190   19.472884

## HOW DATA IN EACH MODEL COMPARES

In [41]:
#get metrics into a single df
mseMetrics_df = pd.concat([mseCombined_df[:].sum(), mseCombined_df[:].mean(), mseCombined_df[:].std()], axis=1)
#name columns according to metric
mseMetrics_df.columns = ['sum', 'mean', 'st deviation']

mseMetrics_df

              sum       mean  st deviation
mseA  3731.992334  74.639847    107.151676
mseB  2476.188860  49.523777     63.041827
mseC  1921.233137  38.424663     32.824145
mseD  1624.212711  32.484254     23.812263

# To Save Data json outputs as json in an IBM Storage bucket

In [40]:
from ibm_botocore.client import ClientError

In [43]:
COS_ENDPOINT = "" # Current list avaiable at https://control.cloud-object-storage.cloud.ibm.com/v2/endpoints
COS_API_KEY_ID = "" # eg "W00YiRnLW4a3fTjMB-odB-2ySfTrFBIQQWanc--P3byk"
COS_AUTH_ENDPOINT = ""
COS_RESOURCE_CRN = "" # eg "crn:v1:bluemix:public:cloud-object-storage:global:a/3bf0d9003abfb5d29761c3e97696b71c:d6f04d83-6c4f-4a62-a165-696756d63903::"

cos = ibm_boto3.resource("s3",
    ibm_api_key_id=COS_API_KEY_ID,
    ibm_service_instance_id=COS_RESOURCE_CRN,
    ibm_auth_endpoint=COS_AUTH_ENDPOINT,
    config=Config(signature_version="oauth"),
    endpoint_url=COS_ENDPOINT
)

In [49]:
def create_text_file(bucket_name, item_name, file_text):
    print("Creating new item: {0}".format(item_name))
    try:
        cos.Object(bucket_name, item_name).put(
            Body=file_text
        )
        print("Item: {0} created!".format(item_name))
    except ClientError as be:
        print("CLIENT ERROR: {0}\n".format(be))
    except Exception as e:
        print("Unable to create text file: {0}".format(e))

In [50]:
def multi_part_upload(bucket_name, item_name, file_path):
    try:
        print("Starting file transfer for {0} to bucket: {1}\n".format(item_name, bucket_name))
        # set 5 MB chunks
        part_size = 1024 * 1024 * 5

        # set threadhold to 15 MB
        file_threshold = 1024 * 1024 * 15

        # set the transfer threshold and chunk size
        transfer_config = ibm_boto3.s3.transfer.TransferConfig(
            multipart_threshold=file_threshold,
            multipart_chunksize=part_size
        )

        # the upload_fileobj method will automatically execute a multi-part upload
        # in 5 MB chunks for all files over 15 MB
        with open(file_path, "rb") as file_data:
            cos.Object(bucket_name, item_name).upload_fileobj(
                Fileobj=file_data,
                Config=transfer_config
            )

        print("Transfer for {0} Complete!\n".format(item_name))
    except ClientError as be:
        print("CLIENT ERROR: {0}\n".format(be))
    except Exception as e:
        print("Unable to complete multi-part upload: {0}".format(e))

In [59]:
multi_part_upload(COS_RESOURCE_CRN, 'mseD.json', 'mseD.json')

Starting file transfer for mseD.json to bucket: pythonbasicsfordatascienceproject-donotdelete-pr-gwi3uqkguzzhnj

Transfer for mseD.json Complete!


<hr>

Copyright &copy; 2019 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).